//
//  Secrets.xcconfig
//  surpriseMe
//
//  Created by nicolas castello on 09/07/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


SECRET_KEY = 416efcdbb2a1405da43e0784432c6b62
CLIENT_ID = 2653e7e59ec34be090f5d3b3a54f2f77

